* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(170, 247, 228);
  word-spacing: 20px;
  position: fixed;
  box-shadow: 0px 0px 7px 0px gray;
}

.nav1 {
  font-size: 13px;
  color: rgb(116, 111, 111);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  right: 200px;
  bottom: 25px;
}

.contacto {
  width: 120px;
  height: 25px;
  background-color: rgb(211, 124, 233);
  border-radius: 20px;
  border: none;
  color: white;
}

.contacto:hover {
  background-color: rgb(224, 146, 244);
}

.section1 {
  width: 100%;
  padding-top: 6em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio {
  padding: 5em;
}

.holasoy {
  font-family: "Koulen", cursive;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.delfina {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(19, 176, 137);
  font-size: 4em;
  margin-bottom: 0.5em;
}

.parrafoinicio {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
}

.botoninicio {
  width: 10em;
  height: 3em;
  border-radius: 20px;
  background-color: rgb(211, 124, 233);
  border: none;
}

.botoninicio a {
  text-decoration: none;
}

.botoninicio a:active {
  color: white;
}

.botoninicio:hover {
  background-color: rgb(121, 61, 136);
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.imageninicial {
  height: 500px;
  width: 400px;
}

.section2 {
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding-bottom: 8em;
}

.textosection2 {
  text-align: center;
  padding: 5em;
}

.tituloconocimientos {
  padding-bottom: 1.2em;
  font-family: "Koulen", sans-serif;
  font-size: 3em;
}

.parrafoconocimientos {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2em;
}

.misconocimientos {
  width: 45%;
  /* height: 25em; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cajitaconocimiento {
  width: 12em;
  height: 12em;
  display: flex;
  border-radius: 5px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(187, 184, 184);
  margin: 4px;
}

.cajitaconocimiento i {
  margin-bottom: 15px;
  font-size: 80px;
}

.textocajita {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9em;
}

.cajitaconocimiento:hover {
  border-color: purple;
}

.section3 {
  width: 100%;
  background-color: rgb(134, 199, 183);
}

.textosection3 {
  width: 50%;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: rgb(134, 199, 183);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comillas {
  font-size: 5em;
  padding-bottom: 25px;
  color: black;
}

.parrafosection3 {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

.someonesection3 {
  font-family: "Koulen", sans-serif;
  font-size: 2em;
}

.section4 {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.contenedorproyectos {
  text-align: center;
  padding: 5em;
}

.misproyectos {
  padding-bottom: 1.2em;
  font-family: "Koulen", sans-serif;
  font-size: 3em;
}

.parrafomisproyectos {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2em;
}

.cajasproyecto {
  width: 67%;
  /* height: 51em; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cajitaproyecto {
  width: 18em;
  height: 16em;
  display: flex;
  border-radius: 5px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(187, 184, 184);
  margin: 5px;
}

.textocajitaproyecto {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.cajitaproyecto:hover {
  border: solid 1px purple;
  color: purple;
}

.section5 {
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding-bottom: 10em;
  padding-top: 8%;
}

.cajasformulario {
  width: 70%;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}

.cajaformulario1 {
  background-color: white;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.cajaformulario2 {
  background-color: white;
  width: 40%;
}

form {
  align-items: flex-end;
}

.cajaformulario1 .contactame {
  font-family: "Koulen", sans-serif;
  font-size: 45px;
}

.cajaformulario2 .escribime {
  font-family: "Koulen", sans-serif;
  font-size: 45px;
}

.cajaformulario1 .parrafoformulario {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 25px;
}

.cajaformulario1 .contactoLinks {
  list-style: none;
}

.contactoItem {
  padding: 5px 10px;

}

.link {
  margin-right: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 25px;
}

.fa-brands {
  color: rgb(211, 124, 233);
}

.fa-envelope {
  color: rgb(211, 124, 233);
}

.fa-brands:hover {
  color: black;
}

.fa-envelope:hover {
  color: black;
}

label {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 20px;
}

input {
  height: 35px;
  border-radius: 20px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
}

.nombreApellido {
  display: flex;
  flex-direction: row;
}

.email {
  display: flex;
  flex-direction: column;
}

.mensaje {
  display: flex;
  flex-direction: column;
}

.mensaje textarea {
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
  border: 1px solid #f6f7fb;
}

.mensaje .btn {
  height: 40px;
  width: 30%;
  border-radius: 100px;
  color: white;
  background-color: rgb(211, 124, 233);
  border-color: rgb(211, 124, 233);
  margin-top: 10px;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 60px;
  background-color: rgb(134, 199, 183);
  color: white;
}

.nav2 {
  font-size: 15px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 10px;
}

.itemsNavFinal i {
  color: white;
  margin: 20px;
  width: 15px;
  height: 15px;
}

.hechoConAmor {
  font-size: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 5px;
}


/* Media Queries */
@media (min-width: 200px) and (max-width: 914px) {
  body {
    width: 100%;
  }

  header {
    display: none;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .section5 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .section5 .cajasformulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .section5 .cajasformulario .cajaformulario1 .contactameParrafo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .cajasformulario .cajaformulario1 .items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .cajaformulario2 .nombreApellido {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


}